body {
    font-family: "Merriweather", serif;
}

.headingPrimary {
    font-size: 2.5rem;
    
    &--main {
        display: block;

    }

    &--sub {
        font-size: 1rem;
        font-style: italic;
        text-align: center;
    }
}

.gif-container__heading {
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}